<h1>New account registration</h1>
<p class="divider2"></p><br/>

<% if @user.errors.any? %>
  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<script src="/js/errors.js"></script>

<div class="clearfix">

  <form name="sign_up" action="/sign_up" method="post">
    <input type="text" class="register" name="user[name]" placeholder="Name"><br/>
    <input type="email" class="register" name="user[email]" placeholder="Email"><br/>
    <input type="password" class="register" name="user[password]" placeholder="Password"><br/><br/><br/>
    <input type="submit" class="myButton">  
  </form>
</div>