
<h1>Welcome to Qtips Survey!</h1>
<p class="divider2"></p>
<h3>Please sign-in to take a survey</h3>
<% if @error %>
  <div class="errors">
    <p><%= @error %></p>
  </div>
<% end %>

<form action="/sign_in" method="post">
	<input id="email" type="email" class="register" name="user[email]" placeholder="Email"><br/>
	<input id="password" type="password" class="register" name="user[password]" placeholder="Password">
	
	<br/>
	<br/>
	
	<input class="myButton" type="submit" value="Sign in">
	<br/>
	<p>Don't have an account? <br/><a href="/sign_up">Register now</a></p>
	
</form>



