<h1>New account registration</h1>


<% if @user.errors.any? %>
  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="clearfix">

  <form action="/sign_up" method="post">
    <div class="sign-in">
      <label for="name">Name </label>
        <input id="name" type="text" name="user[name]" value="<%= @user.name %>">  
    </div>

    <div class="sign-in">
      <label for="email">Email </label>
        <input id="email" type="text" name="user[email]" value="<%= @user.email %>">  
    </div>

    <div class="sign-in">
      <label for="password">Password </label>
        <input id="password" type="password" name="user[password]">  
    </div>

    <div class="sign-in-2">
      <input type="submit">  
    </div>
  </form>
</div>