<h1>Welcome, <%=@user.name%></h1>
<p class="divider1"></p>
<p>What would you like to do?</p>

<p><a href="/surveys" class="myButton">Take a survey</a></p>
<p><a href="/surveys/stats" class="myButton">Surveys I have taken</a></p>
<p><a href="/surveys/view" class="myButton">View my surveys</a></p>
<p><a href="/create" class="myButton">Create your own survey</a></p>


