<h1>Welcome, <%=@user.name%></h1>
<p>==============================================================================</p>
<p>What would you like to do?</p>

<p><a href="/surveys" class="myButton">Take a survey</a></p>
<p><a href="/surveys/stats" class="myButton">View past surveys</a></p>
<p><a href="/#" class="myButton">Create your own survey</a></p>


