<h1>Welcome <%=@user.name%></h1>

<p>What would you like to do?</p>

<p><a href="/surveys">Take a survey</a></p>
<p><a href=""></a>View past surveys</a></p>
<p><a href="">Create your own survey</a></p>


