<div class="complete">
	<h1>Hmm...</h1>
	<div class="win"></div>


</div>
<p class="divider2"></p>
<form action="/surveys" method="GET">
<p><button class="myButton" type="submit">Great, I'd like to waste some more time please!</button></p>
</form>