<div class="complete">
	<h1>You have completed our survey!</h1>

	<div class="win"></div>

	<nav>
		<ul>
			<li><a href="/surveys">Go Back To Surveys</a></li>
			<li><a href="#">Stats</a></li>
		</ul>
	</nav>

</div>