<div class="all-surveys">
	<h1>All surveys</h1>
	<script src="js/take.js"></script>

	<ul id="survey-list">
	<% @surveys.each do |survey| %>

		<li><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>

	<% end %>
	</ul>
</div>