<h1><%= current_user.name %>, this is what you have done so far...</h1>

<% @samples.each do |sample|%>
	<h2><%= Survey.find(sample.survey_id).title %></h2>
	<table>

		<thead>
			<tr>
				<th class="left_col">Questions</th>
				<th class="right_col">Answers</th>
			</tr>
		</thead>
		
		<tbody>
			<% sample.responses.each do |response| %>
			<tr>
				<td class="left_col"><%= response.answer.question.question %></td>
				<td class="right_col"><%= response.answer.answer %></td>
			</tr>
			<%end%>
		</tbody>
		
	</table>

<%end%>



