<h1>[user_name], these are your answers so far...</h1>

<table>
	<thead>
		<tr>
			<th>Question</th>
			<th>Answer</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Do you wet the bed?</td>
			<td>No</td>
		</tr>
	</tbody>
</table>

