<h1>Survey 1</h1>

<table>
	<thead>
		<tr>
			<th>Question</th>
			<th>Answer</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Do you wet the bed?</td>
			<td>No</td>
			<td>Submit</td>
<!-- after submit button click, the new question populated on the same page -->
		</tr>
	</tbody>
</table>

<p><a href="">View current stats</a></p>
<p><a href="">Take another survey</a></p>

